



html {
    background-color: #ebeff2;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    font-weight: 400;
    width: 100vw;
    /*font-size: 16rem;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;

    
}


/*.circle {
    position: fixed;
    overflow: hidden;
    height: 90vw;
    width: 90vw;
    border-radius: 50%;
    display: inline-block;
    background-color: #e1e5e8;
    z-index: -1;
    left: 50vw;
    bottom: 30vw;
}*/
.line {
    height: 0.1rem;;
    background-color: #dde4ea;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 3rem;
}


.nav-list{
    margin: 0px;
    width: 100%;
    margin-top: 7vw;
    margin-bottom: 6vw;
    list-style-type: none;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}

li {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}

.logo {
    font-family: 'Roboto Slab', serif;
    width: 25%;
    font-weight: 700;
    font-size: 4rem;
}

.search-bar {
    width: 30%;
    background-color: #f7f7f9;
    padding: 0.4rem 0.5rem 0.4rem 2rem;
    border-radius: 2.7rem;
    color: #6c717a;
    font-size: 2rem;
    
}
.fa-bars {
padding-right: 1.5rem;
}


.item-count {
    position: relative;
    display: inline-block;;
    background-color: #f7f7f9;
    height: 3rem;
    width: 3rem;
    padding: 0.7rem;
    border-radius: 50%;
    margin-left: 0.6rem;
    text-align: center;
}

.item-count p {
    
    display: inline;
    width: 1rem;
}



#order_payment_box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
}



#order_payment_box  {
    margin: auto;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    text-align: left;
    font-size: 2rem;
    
}


#order-cart {
    font-weight: 400;
}

.big-screen-labels li{
    width: 30%;
    justify-content: flex-start;
    display: none;
}

.big-screen-labels{
    position:relative;
    top: 2rem;
}




#order-cart ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    padding: 0rem;
    justify-content: flex-end;
}

#order-cart ul div {
    width: 30%;
}

#order-cart ul li {
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1.3rem;
    color: #909090;
}


.product-name {
    font-family: 'Open Sans', sans-serif;
}

#order-cart select {
    font-size: 2rem;
    border: solid, #6c717a;
    border-radius: 3rem;
    margin: 1rem 1rem 1rem 0rem;
    padding: 0.4rem;
    background-color: transparent;
    width: 70%;

}







.product {
    position: relative;
    right: 4rem;
}
.product-name{
    position: relative;
    right: 4rem;
    bottom: 1rem;
}




.product_price {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    bottom: 1rem;
    font-size: 2rem;
}







#payment-info {
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #e1e1e1;
    background-image: linear-gradient(to bottom left,  #354051, #181e2a);
    border-radius: 2rem;
    padding: 3.5rem;
}

#payment-method-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
#payment-method-div i {
    margin-right: 0.4rem;
}

#payment-method-div button {
    font-size: 2rem;
    background-color: Transparent;
    color: white;
    border: solid 1px white;
    margin: 1rem; 
    padding: 2rem;
    border-radius: 4rem;
    width: 50%;
}


.address_div {
    display: flex;
    justify-content: space-between;
}
.addres_long {
    width: 70%;
    margin-right: 5%;
}


#paypal-button {
    font-weight: 700;
    font-style: italic;
}

#payment-info {
    
}
#payment-info h1 {
    font-family: 'Roboto Slab', serif;
    margin-top: 0px;
    margin-top: 0px;
    font-weight: 200;
}

#payment-info h4 {
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
}


input {
    font-size: 2.5rem;
    font-weight: 100;
    background-color: transparent;
    border: none; 
    color: white;
    border-bottom: 2px solid #f7f7f9;
    border-color: #c3c3c3;
    width: 100%;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
    box-shadow: none;
}


#sumbit-form-btn {
    position: relative;
    color: white;
    font-size: 2rem;
    background-color: #428ae8;
    border: none;
    padding: 1.8rem 3rem 2rem 3rem;
    margin: 7rem 3rem 4rem 3rem;
    border-radius: 15rem;
    width: 70%;
    left: 10%;
    text-align: center;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c3c3c3;
    font-weight: 100;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #c3c3c3;
    font-weight: 100;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #c3c3c3;
    font-weight: 100;
}
:-moz-placeholder { /* Firefox 18- */
    color: #c3c3c3;
    font-weight: 100;
}





@media (min-width: 1127px) {
    
    body {
        max-width: 1400px;
    }
    #order_payment_box {
        display: flex;
        flex-direction: row;
    }
    
     #order-cart {
        width: 70%;
    }
    
    .line {
        width: 95%;

    }
    
}



@media (min-width: 858px) {
    html {
        font-size: 9px;
    }
    
    body {
        width: 80vw;
        margin: auto;
        
    }
    
    
}

@media (min-width: 780px) {
    html {
        font-size: 9px;
    }
    
    body {
        width: 90vw;
        margin: auto;
    }
    
    #order-cart ul {
        flex-wrap: nowrap;
        justify-content: space-between;
        
    }
    .big-screen-labels li {
        display: initial;
    }
    
    .small-screen-label {
        display: none;
    }
        
    .product {

    position: relative;
    right: 0rem;
    }
    .product-name{
        position: relative;
        right: 0rem;
        bottom: 1rem;
    }
    

}


@media (min-width: 724px) {
    html {
        font-size: 9px;
    }
    
    body {
        width: 90vw;
        margin: auto;
    }
    #payment-info {
        max-width: 60vw;
        margin: auto;
    }
    
    
}


@media (max-width: 724px) {
    html {
        font-size: 9px;
    }
    
    .logo {
        font-size: 3rem;
    }
    
    
}



